<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>CoronaVirus Tracker</title>

</head>
<body>
<div class="container">
    <h1>CoronaVirus Tracker Application</h1>
    <p>This application reports the total number of cases across the Globe</p>

    <div class="jumbotron">
        <h1 class="display-4" th:text="${totalReportedCases}"></h1>
        <p class="lead">Total cases reported as of today</p>
        <hr class="my-4">
        <p>
            <span> New cases reported since previous day</span>
            <span th:text="${totalNewCase}" ></span>
        </p>
    </div>


    <table class="table table-dark">
        <tr>
            <th>State</th>
            <th>Country</th>
            <th>Total cases</th>
            <th>Number of cases increased</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}" >
            <td th:text="${locationStat.State}">..</td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.LatestTotalCases}">0</td>
            <td th:text= "${locationStat.diffFromPrevDay}" bgcolor="orange" align="center">0</td>
        </tr>
    </table>
</div>
</body>
</html>